{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="container min-vh-100 d-flex flex-column align-items-center mt-2">
		<div class="row">
			<svg width="200" height="100" viewBox="0 0 200 100">
				<rect x="0" y="0" width="200" height="100" fill="#FF0000" rx="10"/>  
				<path d="M70 30 L70 70 L100 50 Z" fill="white"/>  
				<path d="M120 50 L140 70 L160 50 L150 50 L150 30 L130 30 L130 50 Z" fill="white"/>  
				<text x="100" y="85" font-family="Arial" font-size="18" fill="white" text-anchor="middle">YT-DOWNLOAD</text>
			</svg>
		</div><br>
		<div class="row w-100 justify-content-center">
			<form method="post" class="sm-col-6 sm-mx-auto h-100">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}

				<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" autocomplete="email" required autofocus>
				<label for="inputPassword">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control mb-2" autocomplete="current-password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="checkbox mb-3">
					<label>
						<input type="checkbox" name="_remember_me">
						Remember me
					</label>
				</div>

				<button class="btn btn-lg btn-primary" type="submit">
					Sign in
				</button>
			</form>
		</div>
	</div>
{% endblock %}
