{% extends 'base.html.twig' %}

{% block title %}Source{% endblock %}

{% block body %}
    <h1>Source</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ source.id }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ source.filename }}</td>
            </tr>
            <tr>
                <th>Filepath</th>
                <td>{{ source.filepath }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ source.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ source.createdAt ? source.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ source.updatedAt ? source.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ source.deletedAt ? source.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('ui_source_index') }}">Back to list</a>
{% endblock %}
