{% extends 'base.html.twig' %}

{% block title %}YoutubeDownload :: Index
{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="d-flex justify-content-between my-4">
        <a class="btn btn-outline-success" href="{{ path('ui_source_index') }}">Downloads</a>
        <a class="btn btn-outline-warning" href="{{ path('app_logout') }}">Logout</a>
    </div>
    <h1 class="text-center mb-2">Welcome to youtube downloader</h1><br>
    <h3>Please paste youtube link into the form bellow:</h3><br>
    {{ form(form) }}

    <h3 class="mt-5">Disk Space Available</h3>
    <p>Total: {{ diskSpace.total }}</p>
    <p>Used: {{ diskSpace.used }} ({{ diskSpace.percentage }}%)</p>
    <p>Free: {{ diskSpace.free }}</p>

    <h3 class="mt-5">Tasks in queue</h3>
    <p>Total: {{ queueTaskCount }}</p>
{% endblock %}
